<div class="main">
  <nav class="top-nav">
    <div class="image-container">
      <img src="assets/DSW-logo-small.svg" alt="dsw" />
    </div>

    <ul class="activity">
      <div class="search-section">
        <div class="search-container">
          <input type="text" placeholder="Search styles, brands, & more" />
        </div>

        <button>search</button>
      </div>
      <li>sign in</li>
      <li>location</li>
      <li>bag</li>
    </ul>
  </nav>

  <div class="menu-container">
    <ul class="menu">
      <li *ngFor="let menuItem of menuItems">
        <a [style.color]="menuItem.textColor">{{ menuItem.name }}</a>
      </li>
    </ul>
  </div>
</div>
