<div class="main">
  <nav class="top-nav">
    <div class="image-container">
      <img src="assets/DSW-logo-small.svg" alt="dsw" />
    </div>

    <ul class="activity">
      <div class="search-section">
        <div class="search-container">
          <input type="text" placeholder="Search styles, brands, & more" />
        </div>
        <div class="search-icon">
          <fa-icon [icon]="faMagnifyingGlass" style="font-size: 17px"></fa-icon>
        </div>
      </div>
      <li>
        <fa-icon
          [icon]="faUser"
          style="font-size: 17px; margin-right: 8px"
        ></fa-icon>
        <p>
          Sign in
          <fa-icon
            [icon]="faCaretDown"
            style="font-size: 14px; margin-left: 4px"
          ></fa-icon>
        </p>
      </li>
      <li>
        <fa-icon
          [icon]="faLocationDot"
          style="font-size: 17px; margin-right: 8px"
        ></fa-icon>
        <p>Location</p>
      </li>
      <li>
        <fa-icon
          [icon]="faShoppingBag"
          style="font-size: 17px; margin-right: 8px"
        ></fa-icon>
        <p>Bag</p>
      </li>
    </ul>
  </nav>

  <div class="menu-container">
    <ul class="menu">
      <li
        *ngFor="let menuItem of menuItems"
        (click)="toggleSubMenu(menuItem)"
        class="menu-item"
      >
        <a [style.color]="menuItem.textColor" class="menu-item-label">{{
          menuItem.name
        }}</a>
        <ul *ngIf="menuItem.showSubMenu" class="sub-menu">
          <li *ngFor="let subMenuItem of menuItem.subMenu">
            <a>{{ subMenuItem.name }}</a>
            <ul>
              <li *ngFor="let item of subMenuItem.items">
                <a>{{ item }}</a>
              </li>
            </ul>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</div>
