.main {
  font-family: "Roboto", "Roboto-Regular", Helvetica, Arial, sans-serif;
}

.top-nav {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  height: 64px;
  padding: 0 24px;
  border-bottom: 1px solid rgb(217, 209, 209);
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 20px;
}

.activity {
    display: flex;
    align-items: stretch;
    margin: 0;
    padding: 0;
    list-style-type: none;
  }  

.search-section {
  display: flex;
  align-items: center;
}

.search-container {
    display: none;
    flex-grow: 1;
    background-color: #f0f0f0;
    max-width: 355px;
    border-radius: 3px;
}

.search-container input {
    flex-grow: 1;
    margin: 8px;
    border:none;
    background-color: transparent;
  }

  .search-container input:focus,
  .search-container input:active {
    outline: none;
  }

  .search-section button {
    margin-left: 8px;
  }


.activity li {
  padding: 1px 6px;
  display: flex;
  justify-items: center;
  align-items: center;
  border-bottom: 4px solid rgba(255, 255, 255, 0);
  transition: ease-in-out;
  transition-duration: 200ms;
}

.activity li:hover {
  border-bottom: 4px solid #333;
}

.menu-container {
  overflow-x: auto;
  flex-grow: 1; /* Allow the menu container to expand and fill available space */
}

.menu-container::-webkit-scrollbar {
  display: none;
}

.menu {
  margin: 0;
  justify-content: center;
  align-items: stretch;
  list-style-type: none;
  white-space: nowrap; /* Prevent menu items from wrapping to the next line */
}

.menu li {
  display: flex;
  justify-items: center;
  align-items: center;
  border-bottom: 4px solid rgba(255, 255, 255, 0);
  transition: ease-in-out;
  transition-duration: 200ms;
}

.menu a {
  font-weight: 600;
  font-size: 14px;
}

/* Apply this style when the screen width is less than 768px */
@media (max-width: 768px) {
  .menu {
    display: inline-flex;
    padding: 8px;
    flex-wrap: nowrap; /* Prevent menu items from wrapping */
  }

  .menu li {
    background-color: #f0f0f0;
    padding: 8px 10px;
    margin-right: 5px;
    border-radius: 3px;
  }
}

@media (min-width: 768px) {
  .menu {
    display: flex;
    padding: 0;
    min-height: 40px;
    border-bottom: 1px solid rgb(217, 209, 209);
  }

  .menu li {
    margin-right: 15px;
  }

  .menu li:hover {
    border-bottom: 4px solid #333;
  }

  .search-container {
    display: flex;
  }

  .search-section,
  .activity {
    flex-grow: 1;
  }
}

@media (min-width: 960px) {
  .menu li {
    margin-right: 25px;
  }
}
